@using System.Reactive
@inherits ReactiveUI.Blazor.ReactiveComponentBase<ReactiveCore.ViewModels.TileViewModel>
<div @onclick=@(()=> ViewModel.ToggleStateCommand.Execute(Unit.Default) ) style="height: 100%; width: 100%;  background-color: @Color"></div>